body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #0b0f2a, #050816);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #aaa;
}

.navbar nav a:hover {
  color: white;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.actions button {
  margin-left: 10px;
}

/* BUTTONS */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  cursor: pointer;
}

button.primary {
  background: linear-gradient(90deg, #00d4ff, #ff4fd8);
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
}

.hero span {
  background: linear-gradient(90deg, #ff4fd8, #ffb84f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge {
  color: #0ff;
}

.buttons {
  margin-top: 20px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
}

.stats h2 {
  color: #4fd1ff;
}

/* SECTIONS */
section {
  padding: 100px 40px;
}
